<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header"></head>
<body>

<head lang="en" th:replace="fragments/nav :: nav"></head>
<div class="container">
    <br/>
    <form action="#" th:action="@{/parks}" th:object="${formAttr}" method="post">
        <input type="text" name="loc" id="loc" th:value="0" />
        <input type="submit" class="btn btn-info" title="Find location using my Browser" value="Find nearest public park"/>
    </form>
    <h3>Public Parks</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Distance From your location</th>
            <th>Public Parks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance : ${list}">
            <td><span th:text="${#numbers.formatDecimal(instance.miles, 0, 'COMMA', 2, 'POINT')}" th:remove="tag"></span>
                Miles
            </td>
            <td th:text="${instance.name}">Value</td>
        </tr>
        </tbody>
    </table>
</div>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</body>
</html>